.article-pub {
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
}
.article-pub > form {
	margin-bottom: 0.5em;
}
.article-pub-form > textarea{
	width: 50%;
	position: relative;
	background-color: inherit;
	color: white;
	outline: none;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 0.4em;
	font-size: 18px;
	left: 5%;
}
.article-input {
	position: relative;
	background-color: inherit;
	color: white;
	outline: none;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 0.4em;
	font-size: 18px;
	width: 50%;
	left: 5%;
}
.article-pub-header {
	margin-top: 0.5em;
	margin-left: 0.9em;
	//display: inline-block;
	color: white;
}
.article-pub-btn {
	margin-top: 0em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
.article-edit {
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.9);
	display: inline-block;
	height: 100%;
	width: 100%;
}
.article-edit > form{
	display: inline-block;
}
.article-edit-header {
	margin-top: 0.5em;
	margin-left: 0.9em;
	//display: inline-block;
	color: white;
}
.article-header {
	margin-top: 0.5em;
	margin-left: 1.3em;
	//display: inline-block;
	color: white;
}
.article-edit-btn {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	display: inline-block;
	color: white;
}
.article-remove-btn {
	margin-top: 0.5em;
	margin-left: 1.5em;
	margin-bottom: 0.5em;
	display: inline-block;
	color: white;
}